<!DOCTYPE html>
<html class="has-background-dark">
  <head>
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/35f9db80c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bulma.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
